:root {
    --background-color: #edf6f8;
    --light-color: #ffffff;
    --dark-color: #000000;
    --link-color: #c410cd;
}

body { 
    font-family: "Kalnia", serif;
    background-color: var(--background-color);
    color: var(--dark-color);
}

main {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

#head {
    display: flex;
    justify-content: space-between;
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

/* post class */
.post {
    border: 1px solid var(--link-color);
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

/* Post image styles */
.post img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    color: var(--link-color);
    background-color: var(--light-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#post {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.special-headline {
    font-weight: 900;
    color: #c410cd;
    text-align: center;
}

#unique-headline {
    font-weight: 600;
    color: #ff1493;
    border: 1px solid var(--link-color);
    margin-bottom: 1em;
    padding: 0.5em 1em;
    text-align: right;
}